<!-- 
<div class="intro-block">
	<div class="row">
		<div class="large-12 columns">
			<p class="lead">About.</p>
		</div>
	</div>
</div> -->

<div class="text-block row">
	<div class="large-10 columns large-offset-1" align="center" style="padding-right: 50px; padding-left: 50px;">
		<img src="img/about/hello.png">
		<br><br>
		<p class="biglead">
			I'm an interaction designer living and working in San Francisco. I graduated from Stanford University with a degree in Product Design Engineering. Since then, I've worked at places like <a href="http://jawbone.com">Jawbone</a> and <a href="http://onekingslane.com">One Kings Lane</a>.
			<br><br>
			I'm interested in creating usable and beautiful interfaces that solve real user needs.
		</p>
		<br><br>
		<h5 align="center"><span class="underline">Want to Know More?</span></h5>
		<br><br>
		<img src="img/about/downarrow.png">
	</div>
</div>

<!-- <div class="text-block row" style="padding-top: 100px;">
	<div class="large-10 columns large-offset-1" align="center">
		<img src="img/about/howd-i-get-here.png">
	</div>
</div> -->

<div class="story-block peachbg">
	<div class="row">
		<img src="img/about/howd-i-get-here-white.png">
	</div>
</div>


<!-- <div class="divider"></div>
 -->
<div class="story-block">
	<div class="row">
			<p class="biglead">Well, I've always liked to make things.</p>
	</div>
</div>


<div class="story-block">
	<div class="row">
		<p class="biglead">I think it started when I was old enough to hold a marker...</p>
	</div>
</div>

<div class="image-block" id="drawingatthree">
	<p class="caption2">Here's me drawing at three.</p>
</div>

<div class="story-block">
	<div class="row">
		<p class="biglead">...continued through high school...</p>
	</div>
</div>

<div class="image-block" id="canvas">
	<p class="caption2">Acrylics on canvas.</p>
</div>


<div class="story-block">
	<div class="row">
		<div class="large-10 columns large-offset-1">
			<p class="biglead">When I got to college, I didn't really know what I was going to do.<br><br>I tried Product Design (mechanical engineering + design) because I liked the idea of merging form and function.</p>
			<br><br>
			<p>(I also liked learning how things were made.)</p>
		</div>
	</div>
</div>

<div class="story-block">
	<div class="row">
		<p class="biglead">I spent a lot of time in the machine shop, trying not to die.</p>
	</div>
</div>

<div class="image-block" id="prl">
	<p class="biglead white" style="text-align: center; padding-top: 250px;">(Me + bandsaw + other large, powerful pieces of machinery = <span><img src="img/about/skull.png" style="display: inline;"></span>.)</p>
	<p class="caption2 white" style="top: 180px; font-size: 1rem;">Photo Credit: <a href="https://www.flickr.com/people/69889929@N00/">Brendan Wypich</a></p>
</div>


<!-- <div class="story-block">
	<div class="row">
		<p class="biglead">(Klutz + Bandsaw = <span><img src="img/about/skull.png"></span>.)</p>
	</div>
</div> -->

<div class="story-block">
	<div class="row">
		<p class="biglead">My biggest takeaway from my program, though, was the idea of needfinding.</p>
	</div>
</div>

<div class="story-block tealbg">
	<div class="row">
		<div class="large-10 columns large-offset-1">
			<p class="biggerlead">You can create something that's breathtakingly beautiful, or a technological marvel, but if it's not meeting a need, then no one will use it.</p>
		</div>
	</div>
</div>

<div class="story-block">
	<div class="row">
		<p class="biglead">So in terms of "liking to make things," it means two ideas to me.</p>
	</div>
</div>

<div class="story-block pinkbg">
	<div class="row">
		<div class="large-10 columns large-offset-1">
			<h5 class="white"><span class="underlinewhite">One,</span></h5><br><br><br>
			<p class="biggerlead">I like making tools that help people achieve what they want/need to achieve.</p>
		</div>
	</div>
</div>

<div class="story-block">
	<div class="row">
		<p class="biglead">(This is what I want to get out of work.)</p>
	</div>
</div>

<div class="story-block bluebg">
	<div class="row">
		<h5 class="white"><span class="underlinewhite">Two,</span></h5><br><br><br>
		<p class="biggerlead">I like making things that make people feel something.<br><br>(In any medium – text, images, etc.)</p>
	</div>
</div>

<div class="story-block" id="illustrations">
	<div class="row">
		<p class="biglead">(This is what I like to do in my spare time.)</p>
	</div>
</div>

