<div class="intro-image" id="jamboxbuttonsproject"></div>

<div class="intro">
	<div class="text-block row">
		<div class="large-6 columns">
			<h2>BIG JAMBOX<br>User Research</h2>
			<h6 class="hsmall">Summer 2011</h5>
		</div>
		<div class="large-6 columns">
			<p>I conducted user research to inform the optimal interaction for the BIG JAMBOX's controls.</p>
			<p><em>Role: User Research</em></p>
			<p><em>Worked with Karen Kaushansky, Principal Device Interaction Designer</em></p>
		</div>
	</div>
</div>

<!-- <div class="divider"></div>
 -->
<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>The Problem</h4>
		<p>In 2011, Jawbone had already released the JAMBOX, and was working on the next generation speaker – the BIG JAMBOX. Not only was it going to have superior sound quality, it was also going to come with additional media controls, like playing/pausing music, and skipping to previous/next tracks.</p>
		<p>I was tasked with helping determine how the BIG JAMBOX's buttons could be arranged to provide the most intuitive user experience by creating and conducting internal usability studies.</p>
	</div>
</div>

<div class="divider"></div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Methodology</h4>
		<p>Prior to conducting the user testing, I came up with the methodology for the test, including the types of users I wanted to interview, as well as the script with questions that would ultimately inform the design of the buttons. I interviewed ten users, all of whom were familiar with the regular version of the JAMBOX.</p>
<!-- 		<p><img src="/img/work/jamboxcontrols.jpg"></p> -->
	</div>
</div>


<!-- <div class="image-block">
	<div class="row">
		<img src="/img/work/jambox/jamboxcontrols.png">
	</div>
</div> -->


<div class="text-block row">
	<div class="large-12 columns">
		<img src="/img/work/jambox/jamboxcontrols.png">
	</div>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>THE SCRIPT</h4>
		<p>For the script, I gave a high-level conceptual of the BIG JAMBOX product. At that point, nobody knew what the product was. Using a product code name, I told them that it was a portable speaker that was slightly larger than the current JAMBOX. It would have a few more controls, with some staying in the same locations, like: the pairing button, the On/Off switch, and the audio jack.</p>
		<p>I then showed them two possible prototypes for the controls, Option A and Option B. For half the users, I switched the order to somewhat randomize ther results.</p>
	</div>
</div>

<div class="image-block greybg">
		<img src="/img/work/jambox/jamboxbuttons-options.png">
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<p>My main questions were to understand if the users understood the functionality of each of the buttons. If they didn't understand what the button did, I would tell them, and then ask what would have made more sense.</p>
		<p>Most of the controls turned out to be straightforward, but the biggest question was if users could understand how to mute. I gauged this by giving them a following scenario, and seeing which control they gravitated towards:
			<ul>
				<li>Someone calls you – which button do you hit?</li>
				<li>You need to mute the conversation – which button do you hit?</li>
				<li>You need to end the call – which button do you hit?</li>
			</ul>
		</p>
	</div>
</div>

<div class="image-block peachbg">
	<img src="/img/work/jambox/hands.gif">
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Results: Support for Option A</h4>
		<p>In general, the users who preferred Option A thought it looked better aesthetically, thought that it avoided Option B's confusing juxtaposition of similar shapes, and did a good job of integrating the music and audio functionalities.</p>
		<h5>Looked cleaner.</h5>
		<blockquote>"Makes the buttons look like they're taking up less space – like an optical illusion."</blockquote>
		<h5>Easier to differentiate play/pause from the 'next' button.</h5>
		<blockquote>"Can see what the buttons mean in a snap – have to think about it for option B."</blockquote>
		<blockquote>"[In Option B] the play button and the next button look almost the same next to each other...the triangles get confusing."</blockquote>
		<h5>Grouping the phone features together make sense.</h5>
		<blockquote>"Makes sense that the two call buttons are grouped together."</blockquote>
		<blockquote>"[Option B] disassociates play and pause from a call feature. It looks only music related."</blockquote>
	</div>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>A hiccup: Muting</h4>
		<p>I found that nobody felt confident about how to mute themselves on a call, and did not know how to even activate mute on the current JAMBOX.</p>
		<p>When guessing how to mute, users tried the play/pause button, the phone button, as well as the minus button. However, when told how the mute actually worked (it was the pause button), they were able to rationalize it.</p>
		<blockquote>It's like pausing a conversation instead of pausing music.</blockquote>
		<blockquote>It's like pausing my sound.</blockquote>
		<blockquote>I might think it was the phone button, but then I'd be nervous that it would end a call.</blockquote>
	</div>
</div>

<div class="image-block">
		<img src="/img/work/jambox/hands.jpg">
</div>


 