<div class="workblock">
	<div id="myCarousel" class="carousel">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><img src="http://www.local-iceland-tours.com/MicroDNN/Portals/IcelandTours/nort.jpg"></div>
			<div class="item"><img src="http://www.theodora.com/wfb/photos/iceland/aurora_borealis_northern_lights_iceland_photo_mfa.jpg"></div>
			<div class="item"><img src="http://www.icelandviking.com/wp-content/uploads/2008/11/iceland-northern-lights.jpg"></div>
		</div>

	<!-- Carousel nav -->

		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>

<script>
	$('.myCarousel').carousel({
		interval: 2000
	})
	$('#subnav').scrollspy()
   
</script>