<form>
	<div class="span7">
		<form>
		    <textarea class="input-xxlarge" placeholder="Type your message here."></textarea>

	</div>	
	<div class="span4">
	    <input type="text" class="input-xlarge" id="name" placeholder="Name">
	    <input type="text" class="input-xlarge" id="email" placeholder="Email">
		<br>
	    <button type="submit" class="btn btn-large btn-primary">Submit</button>
	</div>

</form>