
<div class="intro-block">
	<div class="row">
		<div class="large-12 columns">
			<img class="fadeIn animated" src="img/cecilia-yang-designer.png">
		</div>
	</div>
</div>


<div class="block" id="oklfind">
	<div class="row">
		<div class="large-12 columns">
			<h6>One Kings Lane</h6>
			<h2>Directed Shopping</h2>
			<a href="/okl-directed-shopping" class="button">View Project</a>
		</div>
	</div>
</div>


<div class="block" id="oklipad">
	<div class="row">
		<div class="large-12 columns">
			<h6>One Kings Lane</h6>
			<h2>iPad App</h2>
			<a href="/okl-ipad" class="button">View Project</a>
		</div>
	</div>
</div>


<div class="block" id="jawbonemobile">
	<div class="row">
		<div class="large-12 columns">
			<h6>Jawbone</h6>
			<h2>Mobile Site</h2>
			<a href="/jawbone-mobile" class="button">View Project</a>
		</div>
	</div>
</div>
<!-- 
<div class="block" id="jawboneipad">
	<div class="row">
		<div class="large-12 columns">
			<h6>Jawbone</h6>
			<h2>UP & JAMBOX iPad Demos</h2>
			<a href="#" class="button">View Project</a>
		</div>
	</div>
</div> -->


<div class="block" id="jamboxbuttons">
	<div class="row">
		<div class="large-12 columns">
			<h6>Jawbone</h6>
			<h2>Button UX Research</h2>
			<a href="/big-jambox-buttons" class="button">View Project</a>
		</div>
	</div>
</div>