
<div class="intro-block-home">
	<div class="row">
		<div class="large-12 columns">
			<p align="center">Cecilia Yang is an interaction + visual designer living in San Francisco.</p>
		</div>
	</div>
</div>
