
<div class='scrollblock' id='page1'>
	<div class="container">
		<h1>Hello, world!</h1>
			Some stuff about <%= @name %> here.  

			<br>I am currently <%= "%.1f" % @age %> years old.

			<br>I'm learning how to code! Good luck navigating my site!
	</div>
</div>

<div class='scrollblock' id='page2'>
		<div class="container">
			<h1>HERE'S THE SECOND BLOCK</h1>
		</div>
</div>


<div class='scrollblock' id='page3'>
	<h1>HERE'S THE THIRD BLOCK'</h1>
</div>