
<div class='scrollblock' id='page1'>
	<div class="container">

				<h1>Hello, <br>my name is Cecilia.</h1>
				
				<br>I'm an interaction + visual designer based in San Francisco, CA.  

	</div>
</div>

<div class='scrollblock' id='page2'>
		<div class="container">
			<h1>HERE'S THE SECOND BLOCK</h1>
		</div>
</div>


<div class='scrollblock' id='page3'>
	<div class="container">
		<h1>HERE'S THE THIRD BLOCK</h1>
		<br>
		<br>I am currently <%= "%.1f" % @age %> years old.

		<br>I'm learning how to code! Good luck navigating my site!
	</div>
</div>