<script>
  $(document).ready(function() {
    var scrollorama = $.scrollorama({
      blocks:'.bioblock',
    });

    // animate the parallaxing

    scrollorama.animate('#profilepic',{ delay: 0, duration: 150, property:'opacity', start:1.0, end: 0 });  

  });

</script>

<div class="container">
		
		<div class="row">
		
			<div class="span5">
				<img src="img/me.png">
			</div>	
	
			<div class="span6 offset1 rowtop-pad">
			    <h1>Hello!</h1>
				<br>
				<p class="lead">I'm an interaction & visual designer based in San Francisco, CA. <br>I really, really like to make things.</p>
				<p>(Beautiful and useful things.)</p>
			</div>
		</div>
	

	<div class="dot-separator"></div>

	
	<div class="row">

		<div class="span8">
			<h4>A super brief history.</h4>	
			<br>2009<br>Graduated from Stanford with a B.S. in <a href="http://design.stanford.edu/PD/" target="new">Product Design</a>, and a minor in <a href="http://creativewriting.stanford.edu/" target="new">Creative Writing</a>.
			<br>Began work at <a href="http://www.jawbone.com" target="new">Jawbone</a> as an interaction designer.
			<br><br>1993<br>Became a sister. My <a href="http://charlieyang.tumblr.com" target="new">brother</a> has my genes :) and also likes to make things.
			<br><br>1989<br>Got in trouble for painting watercolor murals on the walls right before an open house.
			<br>
		</div>

		<div class="span3 offset1">
			<img src="img/envelope.png">
			<br><br>
			<h5>Contact me.</h5>	
			<p><a href="mailto:ceciliaxyang@gmail.com" target="new">ceciliaxyang@gmail.com</a></p>
			<br>
			<img src="img/globe.png">
			<br><br>
			<h5>Elsewhere.</h5>	
			<p><a href="http://ceciliayang.com" target="new">Cargo</a>
			<br><a href="http://www.facebook.com/ceciliayang" target="new">Facebook</a>
			<br><a href="http://ceciliayang.tumblr.com/" target="new">Tumblr</a>
			<br><a href="/blog">Blog</a>				
							
			</p>
		</div>
	</div>
	
	<div class="dot-separator"></div>
	
	
	<div class="row" style="padding-bottom:30px;">
		<div class="span12">
			<h1>The Breakdown</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="span2 rowtop-pad">
			<h5>For hire:</h5>
		</div>
		<div class="span10">
			<ul class="breakdown">
						<li class="breakdown"><p class="bar" id="bar1">&nbsp;</p>UX Design</li>
						<li class="breakdown"><p class="bar" id="bar2">&nbsp;</p>Visual Design</li>
						<li class="breakdown"><p class="bar" id="bar3">&nbsp;</p>Illustration</li>
						<li class="breakdown"><p class="bar" id="bar4">&nbsp;</p>Writing</li>
						<li class="breakdown"><p class="bar" id="bar5">&nbsp;</p>Painting</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span2 rowtop-pad">
			<h5>Not for hire:</h5>
		</div>
		<div class="span10">
			<ul class="breakdown">
						<li class="breakdown"><p class="bar" id="bar6">&nbsp;</p>Reading</li>
						<li class="breakdown"><p class="bar" id="bar7">&nbsp;</p>Daydreaming</li>
						<li class="breakdown"><p class="bar" id="bar8">&nbsp;</p>Photography</li>
						<li class="breakdown"><p class="bar" id="bar9">&nbsp;</p>Podcasts</li>
						<li class="breakdown"><p class="bar" id="bar10">&nbsp;</p>Biking/running</li>
						<li class="breakdown"><p class="bar" id="bar11">&nbsp;</p>Baking</li>
			</ul>
		</div>
	</div>

	
	<div class="dot-separator"></div>

	<div class="row" style="padding-bottom:30px;">
		<div class="span12">
			<h1>Things I Love</h1>
			<br>
			<h3>Things that glow and/or play with light
			<br>Tropical fruit
			<br>Crazy plants and animals
			<br>Natural histories
			<br>Behavioral psychology
			<br>Borges
			<br>Cortazar
			<br>Roald Dahl
			<br>Words</h3>
		</div>
	</div>


</div>