<div class ="row">
	<div class ="span3">
		Here's some contact information about me here.
	</div>

	<div class ="span9">
		Information<br>
		Some stuff about <%= @name %> here.  
	
		<br>I am currently <%= @age %> years old.

		<br>I'm an interaction designer based in San Francisco.

		<br>I graduated from Stanford University in 2009 with a BS in Product Design and a minor in Creative Writing.
	</div>
</div>
