
<div class="container">
		
		<div class="row">
		
			<div class="span5">
				<img src="img/me.png">
			</div>	
	
			<div class="span6 offset1 rowtop-pad">
			    <h1>Hello!</h1>
				<br>
				<p class="lead">I'm an interaction & visual designer based in San Francisco, CA. <br>I really, really like to make things.</p>
				<p>(Beautiful and/or useful things.)</p>
			</div>
		</div>
	

	<div class="dot-separator"></div>

	<div class="row">

		<div class="span8">
			<h4>A super brief history.</h4>	
			<br>
			<p class="date">2009</p>
			Graduated and began working at <a href="http://www.jawbone.com" target="new">Jawbone</a> as an interaction designer.
			<br><br>
			<p class="date">2005</p>
			I begin a journey of getting a B.S. in <a href="http://design.stanford.edu/PD/" target="new">Product Design</a> and a minor in <a href="http://creativewriting.stanford.edu/" target="new">Creative Writing</a> at Stanford University. <br><br>I spend a lot of time typing away in cafes, accumulating a vast and irreparable sleep debt, and building/breaking things in the machine shop. (My favorite processes are lasercutting and investment casting.)
			<br><br><p class="date">1990</p>
			Got in trouble for painting watercolor murals on the walls right before an open house.
			<br>
		</div>

		<div class="span3 offset1">
			<h6><i class="icon-envelope icon-large"></i><br><br>Contact me.</h6>	
			<p><a href="mailto:ceciliaxyang@gmail.com" target="new">ceciliaxyang@gmail.com</a></p>
			<br>
			<h6><i class="icon-home icon-large"></i><br><br>Elsewhere.</h6>	
			<p><a href="http://ceciliayang.com" target="new">Cargo</a>
			<br><a href="http://www.facebook.com/ceciliayang" target="new">Facebook</a>
			<br><a href="http://ceciliayang.tumblr.com/" target="new">Tumblr</a>
			<br><br>
			<h6><i class="icon-thumbs-up icon-large"></i><br><br>My lil bro.</h6>	
			<p>It must run in the family, cause he also likes to <a href="http://charlieyang.tumblr.com" target="new">make stuff</a>.</p>

		</div>
	</div>
	
	<div class="dot-separator"></div>
	
	
	<div class="row" style="padding-bottom:30px;">
		<div class="span12">
			<h1>The Breakdown</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="span2 rowtop-pad">
			<h5>For hire:</h5>
		</div>
		<div class="span10">
			<ul class="breakdown">
						<li class="breakdown"><p class="bar" id="bar1">&nbsp;</p>UX Design</li>
						<li class="breakdown"><p class="bar" id="bar2">&nbsp;</p>Visual Design</li>
						<li class="breakdown"><p class="bar" id="bar3">&nbsp;</p>Illustration</li>
						<li class="breakdown"><p class="bar" id="bar4">&nbsp;</p>Writing</li>
						<li class="breakdown"><p class="bar" id="bar5">&nbsp;</p>Painting</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="span2 rowtop-pad">
			<h5>Not for hire:</h5>
		</div>
		<div class="span10">
			<ul class="breakdown">
						<li class="breakdown"><p class="bar" id="bar6">&nbsp;</p>Reading</li>
						<li class="breakdown"><p class="bar" id="bar8">&nbsp;</p>Photography</li>
						<li class="breakdown"><p class="bar" id="bar9">&nbsp;</p>Podcasts</li>
						<li class="breakdown"><p class="bar" id="bar10">&nbsp;</p>Biking/running</li>
						<li class="breakdown"><p class="bar" id="bar11">&nbsp;</p>Baking</li>
			</ul>
		</div>
	</div>

	
	<div class="dot-separator"></div>

	<div class="row" style="padding-bottom:50px;">
		<div class="span12">
			<h1>Things I Love</h1>
			<br>
			<h3>Things that glow and/or play with light
			<br>Tropical fruit
			<br>Crazy plants and animals
			<br>Natural histories
			<br>Behavioral economics
			<br>Borges, Cortazar, Roald Dahl, Lewis Carroll
			<br>Oliver Sacks' stories of the brain
			<br>Words</h3>
		</div>
	</div>
	
	
</div>
