<div class="container">
	
	<div class="row">
		
		<div class="span5">
			<img src="img/me.png">
		</div>	
		
		<div class="span6 offset1 rowtop-pad">
		    <h1>Hello!</h1>
			<br>
			<p class="lead">I'm an interaction & visual designer based in San Francisco, CA. <br>I really, really like to make things.</p>
			<p>(Beautiful and useful things.)</p>
		</div>
		
	</div>
	
	<div class="dot-separator">
	</div>
	

	
	<div class="row">

		<div class="span8">
				<h4>A super brief history.</h4>	
			<br>1989<br>Got in trouble for painting watercolor murals on the walls right before our open house.
			<br><br>1993<br>Became a sister. My brother has my genes and also likes to make things.
			<br><br>2009<br>Graduated from Stanford with a B.S. in <a href="http://design.stanford.edu/PD/">Product Design</a>, and a minor in Creative Writing.
			<br>Began work at <a href="http://www.jawbone.com">Jawbone</a> as an interaction designer.
		</div>
		
		<div class="span3 offset1">
			<h5>Contact me.</h5>	
			<p><a href="mailto:ceciliaxyang@gmail.com">ceciliaxyang@gmail.com</a>
			<br><a href="http://www.facebook.com/ceciliayang">facebook.com/ceciliayang</a>
			</p>
			<br>
			<h5>This site.</h5>	
			<p>Lovingly hand-coded. Responsible for approximately 324398 hours of sleep debt. Body copy is Roboto and Headers are in Lato. </p>
		</div>

	</div>

	<div class="dot-separator">
	</div>
	
	<div class="scrollblock">
		<div class="row">
			<div class="span12">
				<h1>The breakdown</h1>

				<br><br>Insert some graphs about my activities
			</div>
		</div>
	</div>
		
	<div class="dot-separator">
	</div>
	
	<div class="scrollblock">
		<div class="row">
			<div class="span12">
				<h1>Things I love</h1>

				<br><br>Insert a list of things that interest me
			</div>
		</div>
	</div>
</div>
