
<div class="container">
		
		<div class="row">
	
			<div class="span10 offset1 rowtop-pad" align="center" style="padding-top:100px; padding-bottom: 200px;">
				<p class="lead" style="font-size: 32px; line-height:40px">
					I'm currently redesigning my site...check back later.</p>
					
			</div>
		</div>
	
</div>
