<div class="container">
			<div class="row" style="padding-bottom:100px;">
					<h1>INSTAGRAM</h1>
					<br><br>
					<!-- SnapWidget -->
					<iframe src="http://snapwidget.com/in/?u=Y2VjaWxpYXh5YW5nfGlufDE4MHw1fDEyfHxub3w1fGZhZGVPdXQ=" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:925px; height: 2220px" ></iframe>

			</div>
</div>