<div class="intro-image" id="jawbonemobileproject"></div>

<div class="intro">
	<div class="text-block row">
			<div class="large-6 columns">
				<h2>Jawbone Mobile Site</h2>
				<h6 class="small">Spring 2012</h5>
			</div>
			<div class="large-6 columns">
				<p>I designed the first mobile-optimized site for Jawbone.com. </p>
				<p><em>Role: Lead Interaction & Visual Designer</em></p>
			</div>
	</div>
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Determining Design Requirements</h4>
		<p>
			Before starting the actual design process (of laying out concrete UI), I met with the team to kick off the project and align on some mobile-related topics. I presented some of my thoughts regarding the increasing importance of having a mobile-optimized site and a couple basic principles that would help guide the design:
		</p>
		<br>
		<h5>The importance of mobile.</h5>
		<p>Based on our site traffic, it was clear that enough users were accessing our site on mobile devices to warrant our attention.  This number of users was also growing over time – which is very much in line with the plentiful research out there that shows that mobile usage is continually increasing (including e-commerce transactions) and never stops, regardless of the time or day of the week it is.</p>
		<br>
		<h5>The mobile mindset.</h5>
		<p>It would be important to always keep in mind the mindset of the mobile user, who:</p>
		<ul class="disc">
			<li><b>Multitasks:</b> Uses the phone for short bursts of activity (not complex multi-step processes)</li>
			<li><b>Uses Geolocation Services</b>: Finds out what's local/around them (in this case, store locators and deals would be relevant)</li>
			<li><b>Alleviates Boredom</b>: Uses the phone for distraction and entertainment</li>
		</ul>
		<p>Understanding this context would help inform the design, particularly in keeping it simple and minimal, and surfacing the most pertinent features to the user, given their limited time and attention.</p>
		<br>
		<h5>Compatible devices.</h5>
		<p>It was in the very beginning that we determined which devices we'd optimize the site for, both by checking the web analytics for device types of our past visitors, and also by checking out stats for <a href="http://gs.statcounter.com/#mobile_os-US-yearly-2010-2011">top mobile OSes for general web traffic</a>. We decided to optimize for three key platforms.
		</p>
	</div>
</div>

<div class="divider"></div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Hierarchy and Key Content</h4>
		<p>My next step was to determine what content truly needed to be on the mobile site.  Instead of looking at our main site and weeding out, slowly by slowly, what was less crucial to a mobile user, I began ground-up, with a blank slate, listing out must-haves for launch and nice-to-haves for future releases. (I can definitely appreciate the Mobile First school of thought.)  I discussed and refined this list with the larger group.</p>

		<p>It became clear that the two main content buckets of our site would be:</p>
		<ul>
			<li>Products: learning about product features with a path to purchase.</li>
			<li>Support: getting support for a product a user owns.</li>
		</ul>
		<p>Based on these two buckets, I mapped out a preliminary site hierarchy (which would evolve over time).</p>
	</div>
</div>

<div class="text-block row">
	<div class="large-12 columns">
		<img src="/img/work/jawbone-mobile/ia.png">
		<p class="caption">Evolution of iA over time.</p>
	</div>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Low-Fidelity Wireframes</h4>
		<p>With a site hierarchy mapped out, I began designing low-fidelity wireframes for each key screen. The goal of these wireframes were to illustrate the interaction of the site and how content (both visual and text-based) might look on mobile dimensions. I intentionally used fonts and colors very different from the Jawbone brand's so that in meetings we could all focus on the interactivity of the layouts, instead of harping on graphics.</p>
		<p>With these wireframes, I demonstrated the basic navigation of the site, with a special emphasis on getting buy-in from the team on the structure of the top nav and the footer, which would be accessible on any page.</p>

		<p>Sample low-fidelity wireframe for a product page</p>

		<p>The wireframes reflected some best practices for mobile usability:</p>
		<ul>
			<li>Homepage should offer a minimal list of links, prioritized for user needs</li>
			<li>No breadcrumbs (if you need them, it's a sign your site is too deeply layered)</li>
			<li>Links should be obvious</li>
			<li>Tap area should be at least 30px2</li>
			<li>Not using technology that's not universally supported (e.g.,  java, javascript, Flash, frames, auto-refreshes)</li>
			<li>A button to "scroll to top" appears on longer pages</li>
			<li>Incredibly minimal and concise copy</li>
		</ul>

		<p>And though these best practices weren't relevant to the first release of the mobile site, these are still useful to know:</p>
		<ul>
			<li>Minimize number of embedded images for quicker loading times</li>
			<li>Minimize input needed for essential fields (e.g., use zip code instead of city & state)</li>
			<li>Use smart defaults for lists</li>
		</ul>
	</div>
</div>

<div class="greybg">
	<div class="text-block row">
		<div class="large-12 columns">
			<img src="/img/work/jawbone-mobile/lowfidelity.png">
		</div>
	</div>
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Iteration and More Iteration</h4>
		<p>There were a few cyclical rounds of designing, presenting, integrating feedback and redesigning.  The site hierarchy and wireframes evolved until we were comfortable with layouts and interactivity. At a certain point, I began sharing these flows with our developer, so that we could get a head start on building out the bare bones for the site.</p>
	</div>
</div>


<div class="text-block row">
	<div class="large-12 columns">
		<img src="/img/work/jawbone-mobile/iteration.png">
	</div>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Visual Language</h4>
		<p>The next step was to apply a visual skin to the site that would be in-line with the Jawbone brand. I mocked up the key screens in consistent styles, going for elegance, simplicity, and the understated Jawbone flashiness.</p>
	</div>
</div>


<div style="background-color: #60B5E5;">
	<div class="text-block row">
		<div class="large-12 columns">
			<img src="/img/work/jawbone-mobile/skin.png">
			<p class="caption" style="color:#fff;">Explorations of the visual language.<br>PS. At the time, hot pink was big for Jawbone.</p>
		</div>
	</div>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>High Fidelity Wireframes & Prototypes</h4>
		<p>Once marketing signed off on the look and feel of the site, I began applying the visual language to all the screens.  It's important to note that during this process, UX did evolve, but because of the good chunk of time devoted to signing off on basic UX, the evolution was minimal.</p>
		<p>With these high-fidelity wireframes and design specs, our engineer had what he needed to finish building out the site.  A ton of time was spent ensuring behavior was consistent across mobile devices (thanks to the plentiful Android device sizes and resolutions out there).</p>
		<p>And as usual, I was still involved, clarifying behavior and providing feedback to perfect pixels, most of which showcased my anal-retentiveness around button sizes, font sizes and weights, padding etc. <a href="http://i0.kym-cdn.com/photos/images/small/000/103/740/Me%20Gusta.png?1318992465">Perfect pixels</a>...</p>
	</div>
</div>

<div class="text-block row">
	<div class="large-12 columns">
		<img src="img/work/jawbone-mobile/8-screens.png">
		<p class="caption">High fidelity mocks. <br>Please note, this happened when skeumorphism was in fashion.</p>
	</div>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Usability Testing & Launch</h4>
		<p>Prior to launch, our qualitative researcher on our Customer Experience team managed to squeeze in a few rounds of usability testing.  In addition to identifying bugs across device types, he prompted users to accomplish several realistic tasks, e.g. "Let's say you're trying to figure out the difference between a Jawbone ERA and an ICON HD.  What would you do?" and "How would you figure out what style of the ERA you wanted?"</p>
		<p>Users were able to complete most tasks with little difficulty, which validated the UI/UX of our site. Bugs were fed back to engineers, and I continued to try and simplify UI where possible.</p>
		<p>Our site launched at the beginning of March.  The new design is currently delivering content to our customers who are seeking product information and support while they're on the go.</p>
		<p>Post-launch, I'm still involved, helping identify bugs, keeping an eye out for any usability improvements, and creating content of new mobile content and pages.</p>
	</div>
</div>
