<html>

<head>
<title>Cecilia Yang</title>
	<link rel="stylesheet" href="css/bootstrap-responsive.css" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	
	<script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
	<script src='js/bootstrap.js'></script>
</head>


<body>
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="/">Info</a>
				<a href="/work">Work</a>
				<a href="/blog">Blog</a>
				<a href="/contact">Contact</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="content">
			<%= yield %>
		</div>
	</div>
	
</body>

<footer class="footer">
	Made by Cecilia Yang. &copy; 2012.
	
</footer>


</html>