<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cecilia Yang</title>


  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="fonts/fonts.css" />
  <link rel="stylesheet" href="css/application.css">
  <link rel="shortcut icon" href="img/favicon.ico">


  <script src="js/vendor/modernizr.js"></script>

</head>

<body>

	<% if @show_navbar %>

	<div id="header" class="fixed">
		<nav class="top-bar" data-topbar>
  			<ul class="title-area">
   				 <li class="name">
      				<h1><a href="/design">Cecilia Yang</a></h1>
   				 </li>

			    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			 </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
		      <li><a href="/about">About</a></li>
		      <li><a href="#">Journal</a></li>
		    </ul>
  		</nav>
	</div>

	<% end %>
	
	<div id="content">
		<%= yield %>
	</div>


<% if @show_footer %>

	<footer class="footer">
		<h6>Say Hello</h6>
		<img src="img/email.png">
	</footer>

<% end %>


  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-684857-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

  </script>
</body>


</html>





