<!-- <div class="container" id="quote">
			<p class="quote">Sorry! Can't find that page.</p>
			<br>
			<img src="img/jellyfish.png">
			<br><br><br>
</div> -->


<div class="row"
		<div class="large12 columns"  align="center" style="padding-top: 30px;">
		<img class="shake animated2" src="img/jellyfish.jpg"><br><br>
		<h2>Sorry! Can't find that page.</h2>
		<br><br>
		<a href="/" class="button">Back to the Homepage</a>
	</div>
</div>