<div class="intro-image yellowbg" id="oklipadproject"></div>


<div class="text-block row">
		<div class="large-6 columns">
			<h2>OKL iPad Design</h2>
			<h6 class="hsmall">Spring 2013</h5>
		</div>
		<div class="large-6 columns">
			<p>I was responsible for interaction design behind the product page, the cart and checkout experience, as well as the Login/Registration, Recently Viewed, and settings interfaces.</p>
			<p><em>Role: Interaction Design</em></p>
			<p><em>Worked with Jonathan Lieberman, Director of Design (and Visual Designer)</em></p>
		</div>
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>The Goal</h4>
		<p>The high level goal of the project was to produce a universal iOS app for both the iPad and iPhone. Up until this point, we had no app for the iPad, and the existing iPhone app was outdated and missing key functionality.</p>
		<p>For this project, I'll focus mainly on the funnel from product page to checkout confirmation.</p>
		<p>For these pieces, the goals were to: increase add-to-carts from the product page and conversion, as well reducing drop-off while in the checkout flow.</p>
	</div>
</div>

<div class="text-block row">
	<div class="large-12 columns">
		<img src="/img/work/okl-ipad/funnel.png">
		<p class="caption">The shopping funnel, with my focus highlighted.</p>
	</div>
</div>

<div class="divider"></div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Business Requirements</h4>
		<p>Before kicking off these components of the app, I met with Product to understand the product and business requirements.</p>
		<p>The requirements detailed:
			<ul> 
				<li>Core functionalities required for v1</li>
				<li>What was out of scope for v1</li>
				<li>Possible states, including errors and edge cases</li>
				<li>Success metrics</li>
			</ul>
		</p>
	</div>
</div>

<div class="divider"></div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Audit</h4>
		<p>As my first step, I did an audit of our existing product page on web, as well as the checkout experience (for checkout, our native apps were pulling the same experience in a webview).</p>
		<p>My main focus during the audit was to note the major usability and interaction issues and integrate them with other research to provide recommendations on how to improve them. (Recommendations provided below.) </p>

	</div>
</div>


<div class="image-block" style="background-color:#f5f5f5">
	<img src="/img/work/okl-ipad/audit-deck.png">
	<p class="caption">A snapshot of the audit deck I prepared.</p>
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Competitive Research</h4>
		<p>Before designing, I also did competitive research to see how other companies were handling both product pages and checkout. I noted patterns and trends, and isolated the variables that made an experience more delightful and user friendly.</p>
	</div>
</div>

<div class="text-block row" style="padding-top:0px; padding-bottom:90px;">
	<div class="large-10 columns large-offset-1">
		<img src="/img/work/okl-ipad/research.png">
		<p class="caption">A sample snapshot of competitive research.</p>
	</div>
</div>


<div class="story-block pinkbg">
	<div class="row">
		<h5 class="white"><span class="underlinewhite">PART 1</span></h5><br><br>
		<p class="biggerlead">Product Page</p>
	</div>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>UX Recommendations</h4>
		<p>Based on the audit and competitive + usability research, I compiled a "Top UX Recommendations" list that I would integrate into my sketches and prototypes. This list I shared with Product so that they would understand the thought and research behind some of the recommendations and decisions that I would eventually make from the design side.</p>
		<h5>Recommendations</h5>
		<ul>
			<li>Context gives the user confidence to buy. Bigger product images, more product images, and more product information helps users make more informed decisions.</li>
			<li>For products with multiple sizes, like rugs, expose all size options so users have the ability to easily compare and select sizes (versus cramming all into a dropdown).</li>
			<li>Progressive disclosure with product information: on first paint, show critical information, such as name, price, estimated arrival, and delivery date. (Ideally show critical information on a category basis.) Only show other information when user invokes it.</li>
		</ul>
	</div>
</div>

<div class="divider"></div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Sketches</h4>
		<p>Based on research, started to draw out options. During this stage, the most important explorations were on basic page hierarchy and layout, and at a high level, how the information could be clustered.</p>
		<p>SCANNED SKETCHES HERE</p>
	</div>
</div>

<div class="divider"></div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Iteration</h4>
		<p>After sketching, I moved to low-fidelity wireframing. At this point, I wanted to refine the initial layout explorations, and also pressure test it for a variety of different situations and permutations</p>
			<ul>
				<li>Landscape and portrait orientation</li>
				<li>Product availability: Was it on hold, sold out, or available to buy?</li>
				<li>Inventory: Were there only a few products left?</li>
				<li>Size options and availability</li>
				<li>Shipping: Any special delivery fees?</li>
				<li>Vintage or non-vintage</li>
				<li>Varying amounts of information (product attributes, description, etc.)</li>
			</ul>
		<p>On a daily/weekly cadence, I would get feedback from both design, and product, who also communicated any engineering/technical constraints. This feedback was fed into multiple iterations of design.</p>
	</div>
</div>

<div class="image-block greybg">
		<img src="img/work/okl-ipad/pdp-iteration.png">
		<p class="caption">Different wireframe explorations for the Product Page.</p>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Interaction Notes and Visual Design</h4>
		<p>When Product and Design settled on the final interaction, I delivered the final wireframes with interaction notes. Jonathan Lieberman, Director of Design at One Kings Lane, took my wireframes and applied visual designs. </p> 
	</div>
</div>

<div class="image-block" style="background-color:#f5f5f5">
	<p class="caption">Final version. Visuals by Jonathan Lieberman.</p>
</div>



<div class="story-block orangebg">
	<div class="row">
		<h5 class="white"><span class="underlinewhite">PART 2</span></h5><br><br>
		<p class="biggerlead">Cart & Checkout</p>
	</div>
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Usability Research</h4>
		<p>Before designing, I researched information published from trusted usability firms and other experts in the space. Here were a few snippets of research that I found particularly interesting:</p>
		<h5>One-page checkouts not necessarily superior</h5>
		<blockquote>
		"...we found that users in general had relatively few problems navigating between multiple steps (as long as a few simple guidelines are adhered to) – the usability issues were primarily caused by what the customer had to do at each step."
		<br>
		–<a href="http://baymard.com/blog/one-page-checkout">Baymard</a>
		</blockquote>
		<blockquote>
		"Each of the forms we tested had a 100% pass rate. While our study was small, it did seem to indicate that simply porting the same questions from one long web page to several web pages or to an accordion form isn't likely to significantly increase conversion. Since then, I've seen this hold true in larger quantitative tests as well."
		<br>
		–<a href="http://www.lukew.com/ ff/entry.asp?1579">Luke W.</a>
		<br></blockquote>
		<h5>Visually Reinforce Credit Card Fields</h5>
		<blockquote>
		"One way to increase the perceived security of sensitive fields is to visually encapsulate them. This can be achieved by the use of borders, background colors, shading, and other visual styling that will make one part of the form seem more robust than the rest."
		<br>
		–<a href="http://baymard.com/blog/visually-reinforce-sensitive-fields">Baymard</a></blockquote>
		<br><br>
		<h5>Which Site Seal Do People Trust the Most?</h5>
		<blockquote>
		"So Should I Just Use Norton? It depends. Yes, if you just want a single site seal, although McAfee does not lack that far behind. However, if you want to go all in you may consider investing in three site seals: a Norton SSL seal to indicate an encrypted connection, a McAfee seal to indicate a clean, non- infected “hacker safe” site, and finally either a BBB Accredited or TRUSTe seal for establishing trust in consumer relations."
		<br>
		–<a href="http://baymard.com/blog/site-seal-trust">Baymard</a></blockquote>
	</div>
</div>

<div class="divider"></div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>UX Recommendations</h4>
		<p>For checkout, I also used these to point out that the bulk of the usability issues stemmed from the existing desktop experience, and that those problems would have to be solved at the source if we were to maintain a webview for native.</p>
		<h5>Recommendations:</h5>
		<ul class="disc">
			<li>Relaxed address validation rules and re-layout the page. Instead of communicating that the user has made an error, provide the new address as a gentle suggestion.</li>
			<li>Use smart defaults.</li>
				<ul>
					<li>Prepopulate all input fields with information we have in the system (e.g. the user’s first and last name)</li>
					<li>Use zip code to pre-fill city and state.</li>
					<li>When a user elects to change shipping and payment method from the Review & Submit page, input fields should remain pre-filled for easy editing.</li>
					<li>“Use Shipping Address as Billing Address” should be checked by default; unless checked, billing address input fields should remain hidden.</li>
				</ul>
			<li>Hide payment input fields when Paypal is selected as payment method.</li>
			<li>Provide a better pathway from expired carts – i.e., provide user functionality to re-add expired items back to the cart.</li>
			<li>Real-time error validation for input fields.</li>
			<li>Remove unnecessary input fields, like phone number for billing section.</li>
			<li>By default, save shipping address and billing method (but need to double check that it doesn’t contradict terms)</li>
			<li>Allow users to exit out of "Add New Shipping Address."</li>
			<li>Invoke numbers-only keyboard when appropriate.</li>
			<li>Visual change: Shorter forms (for less scrolling) while increasing padding for optimal white space.</li>
			<li>Preserve standard formatting when inputting phone number, credit card number, and credit card expiration date.</li>
		</ul>
	</div>
</div>

<div class="divider"></div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Logic Flows</h4>
		<p>For checkout, I then started to map out the possible logic flows for our new experience.  My two recommendations were (1) a simple one-page checkout and (2) a simple serialized flow.</p>
		<p>I also worked on a system for classifying errors. I bucketed the errors into three main types, and designed the interaction for each.</p>
	</div>
</div>

<div class="image-block greybg">
		<img src="/img/work/okl-ipad/logic-flow.png">
		<p class="caption">Sample logic flow from add to cart to end of checkout.</p>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h5>Error Classification</h5><br>
		<p><i>1. Severe Errors</i><br>Errors that prevent us from completing transaction and shipping to the customer. The desired error handling behavior is to detect error on key press and interrupt user with error dialog.</p>
		<h5 class="hsmall">Examples:</h5><p>
			<ul>
				<li>Enters a PO box, APO/FPO for shipping</li>
				<li>Enters a non-accepted payment method</li>
				<li>Enters a zip code subject to zone exclusion</li>
			</ul>
		</p>
		<p><i>2. Obvious Errors</i><br>The desired error handling behavior is to detect error on blur and mark field red.</p>
		<h5 class="hsmall">Examples:</h5><p>
			<ul>
				<li>Zip code must be 5 or 9 digits</li>
				<li>Phone number must be 10 digits</li>
				<li>CVC must be 3 or 4 digits (depending on CC type)</li>
				<li>Credit card must be 16 digits</li>
				<li>City and state must be valid</li>
			</ul>
		</p>
		<p><i>3. Non-obvious Errors</i><br>The desired error handling behavior is to detect error when user submits form, show error dialog, and mark erroneous fields red.</p>
		<h5 class="hsmall">Examples:</h5><p>
			<ul>
				<li>Gift card or discount codes invalid</li>
				<li>Fields left empty</li>
				<li>Payment method could not be validated</li>
			</ul>
		</p>
	</div>
</div>

<!-- <div class="image-block greybg">
		<img src="/img/work/okl-ipad/logic-flow.png">
		<p class="caption">Sample logic flow from add to cart to end of checkout.</p>
</div>
 -->

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Sketches + Iteration</h4>
		<p>We decided to pursue the serialized flow option for checkout, and I began to sketch out different possibilities.</p>
	</div>
</div>

<div class="image-block yellowbg">
		<img src="/img/work/okl-ipad/iteration.png">
		<p class="caption">A snapshot of my artboard.</p>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<h4>Interaction Notes</h4>
		<p>I then delivered the final wireframes with interaction notes. My designs were given a visual treatment to be consistent with the rest of the app.</p> 
	</div>
</div>

<div class="image-block" style="background-color:#f5f5f5">
	<p class="caption">Final version. Visuals by Jonathan Lieberman.</p>
</div>




