<div class="row">
	<h1> H1 text. Hi Cecilia.</h1>
	<h2> H2 text. Hi Cecilia.</h2>
	<h3> H3 text. Hi Cecilia.</h3>
	<h4> H4 text. Hi Cecilia.</h4>
	<h5> H5 text. Hi Cecilia.</h5>
	<h6> H6 text. Hi Cecilia.</h6>

	<h1><small> H1 text. Hi Cecilia.</small> </h1>
	<h2><small>  H2 text. Hi Cecilia.</small> </h2>
	<h3> <small> H3 text. Hi Cecilia.</small> </h3>
	<h4> <small> H4 text. Hi Cecilia.</small> </h4>
	<h5> <small> H5 text. Hi Cecilia.</small> </h5>
	<h6> <small> H6 text. Hi Cecilia.</small> </h6>

	<h1 class="hsmall"> H1 text. Hi Cecilia.</h1>
	<h2 class="hsmall"> H2 text. Hi Cecilia.</h2>
	<h3 class="hsmall"> H3 text. Hi Cecilia.</h3>
	<h4 class="hsmall"> H4 text. Hi Cecilia.</h4>
	<h5 class="hsmall"> H5 text. Hi Cecilia.</h5>
	<h6 class="hsmall"> H6 text. Hi Cecilia.</h6>

	<p class="lead">Everyone has a special place–a spot on earth you hold close to your heart. Like the town where you grew up or met the one you love. The cove where you learned to surf. The secret mountain hideaway where you go to find yourself.</p>

	<p>In the first release of This Place, we explore the Oregon Coast through a short film and series of interactive vignettes. We take to the road to get to the heart of the questions, “What makes the Oregon coast unique?” And “Why do so many people consider it not just special, but sacred?”

	From its local inhabitants to its visitors, the Oregon Coast means different things to different people. This Place is a portrait of the coast as seen through the eyes of a few who cherish it.</p>

	<p><em>This is emphasized text</em><p>
	<p><strong>This is strong text</strong><p>

	<p class="caption">This is a caption</p>
</div>