

<div class="text-block row">
	<div class="large-12 columns" align="center">
		<img class="fadeIn animated" src="img/photo-diary.png">
		<div class="divider" style="padding-bottom:10px; margin-top: -10px;"></div>
		<p class="fadeIn animated delay1" style="padding-bottom: 20px;">Find me on Instagram: @ceciliaxyang</p>
		<!-- SnapWidget -->
		<iframe src="http://snapwidget.com/in/?u=Y2VjaWxpYXh5YW5nfGlufDMzMHwzfDIwfHxub3w1fG5vbmV8b25TdGFydHxubw==&v=12714" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1005px; height:6700px"></iframe>
		<br><br><br><br>
		<a style="display: inline-block; border: 0; text-decoration: none;" href="http://ceciliayang.vsco.co?utm_source=user_grid&utm_medium=user_website&utm_campaign=link_to_grid"><img style="width: 32px; height: 32px; margin: 0px;" src="http://assets.vsco.co/assets/images/assets/Grid_black_32.png" alt="VSCO Grid" /></a><br><br><br>
	</div>
</div>


<!-- <div class="text-block row">
	<div class="large-12 columns" align="center">

	</div>
</div> -->