<div class="intro-image" id="mtdavidson">
	<div class="text-block row">
		<div class="large-8 columns large-offset-2">
<!-- 			<img src="img/vsco/dearvsco.png" class="fadeIn animated2"> -->
		</div>
	</div>
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2" style="padding-top:30px;">
		<p style="color: #919191;"><i>July 30th, 2014</i></p><br><br>
		<p class="big">
		Last weekend, I was flipping through Southwest’s Spirit Magazine while on a short flight from LAX to SFO. I read about a woman named Nicole Kear, and <a href="http://www.spiritmag.com/features/article/as_the_lights_go_down/">her slow descent into blindness</a>. At age 19, she had received a diagnosis of an incurable retinal disease, and was told by the specialist that she would be completely blind by age 40.
		</p>
	</div>
</div>


<div class="text-block row">
	<div class="large-6 columns large-offset-3">
		<img src="/img/vsco/blind.png">
		<p class="caption">Blind designed by <a href="http://www.thenounproject.com/jordan.delcros">Jordan Delcros</a> from the <a href="http://www.thenounproject.com">Noun Project</a></p>
	</div>
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<p class="big">
		For me, her story was inspiring, but the premise was terrifying. My eyesight is by far my most precious sense, and I find it hard to imagine how I could adapt.
		</p>
		<br>
		<p class="big">
		I’ve always been in love with images. I started drawing at an early age. (One of my earliest memories is getting into big trouble after painting watercolor "murals" on the apartment walls – right before an open house showing.) In college, I decided to major in Product Design because I liked the idea of bringing utility to something beautiful.
		</p>
		<br>
		<p class="big">
		And now, I’m a designer, working in the interaction + visual design realm. I have a deep interest in understanding user needs and creating tools.
		</p>
	</div>
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<img src="/img/vsco/hammer.gif"><br><br><br>
		<h5 align="center">This is a tool.</h5>
<!-- 		<p class="caption">Hammer designed by <a href="http://www.thenounproject.com/daniel.g.hickey">Daniel Garrett Hickey</a> from the <a href="http://www.thenounproject.com">Noun Project</a></p> -->
	</div>
</div>


<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<p class="big">

		A tool is something that amplifies human capability so it can meet a defined need. I think of VSCO as an amazing example of this. With your tools, we can take what we see, imbue it with our individual mood and meaning, and make it instantly communicable with someone else – all without words. VSCO is a way through which we can extend our natural human powers.
		</p>
	</div>
</div>

<div class="divider"></div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<p class="big">
		Right now, many startups in the Bay Area aren’t creating tools – they’re creating services. I can now hire someone to clean my house, do my dry cleaning, drive me somewhere – basically, these companies are helping me to <i>not</i> do certain things.
		<br><br>To me, VSCO does the opposite. It encourages us to get out of our offices, to move, to explore the world, appreciate the details and the little moments – to not be blind to the beauty around us.
		</p>
	</div>
</div>

<div class="image-block" id="vscomap">
	<p class="caption2"><i>I recently used VSCO map for inspiration on what to do in LA.</i></p>
</div>

<div class="text-block row">
	<div class="large-8 columns large-offset-2">
		<p class="big">
		I have a deep personal interest in VSCO. As a designer and illustrator, I truly appreciate your company’s deep and devoted passion to honoring art and the artist. I also think there’s so much potential for it to keep growing – especially with regards to international reach. I’ve seen firsthand how many people around the world are proudly hashtagging #VSCO on Instagram. The love and passion for images is universal and timeless.
		</p>
		<br><br>
		<p class="big">
		I would love to be a part of the journey and part of VSCO's continued success.
		</p>
		<br>
		<p class="big">
		Cheers,<br>
		Cecilia
		</p>
	</div>
</div>


<div class="story-block peachbg">
	<div class="row">
			<a href="/design" class="button">View My Portfolio</a>
	</div>
</div>
