<div class="container">
			
			<div class="row">
				<div class="span12">
					<h1>FEATURED WORK</h1>
					<br>A roundup of a few design projects.  You can also view more stuff in the <a href="http://www.ceciliayang.com">archives <i class="icon-external-link"></i></a>.
					<br><br>
				</div>
			</div>
			
			<header class="jumbotron subhead">
			  <div class="subnav" id="projectnav">
			    <ul class="nav nav-pills">				
			      <li><a href="#project1anchor">Jawbone Mobile Site</a></li>
			      <li><a href="#project2anchor">UP Demo for iPad</a></li>
			      <li><a href="#project3anchor">JAMBOX Landing Page</a></li>
			      <li><a href="#project4anchor">Tavern Books</a></li>
			    </ul>
			  </div>
			</header>

			<div class="dot-separator"></div>
			
<!-- Project 1
================================================== -->



<a class="anchor" id="project1anchor">&nbsp;</a>
<section id="project1">
	
	<div class="scrollblock">
		<div class="row">
			<div class="span4">
				<h2><span style="background-color: #3CB9C5;">Jawbone</span><br><span style="background-color: #3CB9C5;">Mobile Site</span></h2>
					<br>I designed the mobile-optimized site for Jawbone.com. 
					<br><br><h4>ROLES:</h4>
					Interaction Design
					<br>Visual Design
			</div>
			<div class="span7 offset1">
				<img class="lazy" src="img/white.gif" data-original="img/work/mobile/mobile1.png">
				
			</div>
		</div>
	</div>
	
	<div class="scrollblock-longest">
		<div class="row">
			<div class="span4" style:"float:left;">
					<h3>Screenshots</h3>
					The mobile site distills Jawbone's web content into what's most relevant to the mobile user: key product info and support.
					<br><br>
			</div>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<img class="lazy" src="img/white.gif" data-original="img/work/mobile/mobile2.png">
			</div>
			<div class="span4">
				<img class="lazy" src="img/white.gif" data-original="img/work/mobile/mobile3.png">
			</div>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<img class="lazy" src="img/white.gif" data-original="img/work/mobile/mobile4.png">
			</div>
			<div class="span4">
				<img class="lazy" src="img/white.gif" data-original="img/work/mobile/mobile5.png">
			</div>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<img class="lazy" src="img/white.gif" data-original="img/work/mobile/mobile6.png">
			</div>
			<div class="span4">
				<img class="lazy" src="img/white.gif" data-original="img/work/mobile/mobile7.png">
			</div>
		</div>
	</div>
	
</section>

<div class="dot-separator"></div>

<!-- Project 2
================================================== -->
<a class="anchor" id="project2anchor">&nbsp;</a>
<section id="project2">
	<div class="scrollblock">
		<div class="row">
	    	<div class="span4">
					<h2><span style="background-color: #3CB9C5;">Up Demo</span><br><span style="background-color: #3CB9C5;">for iPad</span></h2>
					<br>I designed an iPad app displayed at AT&T stores that customers could interact with to learn more about the Jawbone UP product and its key features.
					<br><br><h4>ROLES:</h4>
					Visual design
					<br>Interaction Design
			</div>
	
		    <div class="span7 offset1">
					<img class="lazy" src="img/white.gif" data-original="img/work/updemo/updemo1.png">
			</div>
	    </div>
	</div>

	<div class="scrollblock">
	    <div class="row">
	    	<div class="span4 rowtop-pad">
					<h3>Main Screens</h3>
						Each of the main navigation tabs in the demo explained what lifestyle changes UP addresses: moving more, sleeping and eating better, and doing it all in a social (and heathily competitive) way.
						<br><br>From each of these screens, customers could launch relevant videos and image galleries.
			</div>
		    <div class="span7 offset1">
					<img class="lazy" src="img/white.gif" data-original="img/work/updemo/updemo2.png">
			</div>
	    </div>
	</div>
		
	<div class="scrollblock">
		<div class="row">
	    	<div class="span4 rowtop-pad">
					<h3>Exploded View</h3>
					Accessible from the home screen, this view allowed the users to peek into the nifty technology behind the band.
			</div>
		    <div class="span7 offset1">
					<img class="lazy" src="img/white.gif" data-original="img/work/updemo/updemo3.png">
			</div>
	    </div>
	</div>
	
	<div class="scrollblock">
		<div class="row">
	    	<div class="span4 rowtop-pad">
					<h3>Galleries</h3>
					Each of the four main categories (Move, Sleep, Eat, Challenge) displayed mobile app screenshots in their full glory, allowing the user to get a feel for the app UI prior to their purchase.
					<br><br>
					To swipe between images, users could tap the left and right arrows, or swipe (as implied by the breadcrumbs below the images).			</div>
		    <div class="span7 offset1">
					<img class="lazy" src="img/white.gif" data-original="img/work/updemo/updemo4.png">
			</div>
	    </div>
	</div>
</section>

<div class="dot-separator"></div>

<!-- Project 3
================================================== -->
<a class="anchor" id="project3anchor">&nbsp;</a>
<section id="project3">
	<div class="scrollblock">
		<div class="row">
			<div class="span4">
				<h2><span style="background-color: #3CB9C5;">JAMBOX</span><br><span style="background-color: #3CB9C5;">Landing Page</span></h2>
					<br>I designed a webpage for the Jawbone JAMBOX speaker that users would land on after scanning QR codes in store displays or clicking through banner ads on the web.
					<br><br><h4>ROLES:</h4>
					Visual design
					<br>Interaction Design
			</div>
	
		    <div class="span7 offset1">
					<img class="lazy" src="img/white.gif" data-original="img/work/jamboxlanding/jamboxlanding1.png">
			</div>
		</div>
	</div>
		
	<div class="scrollblock">
		<div class="row">
			
			<div class="span4">
				<h3>Page Goals</h3>
				The goal of the page was to distill key messaging in one simple page, as well as promote buying from Jawbone’s online store.
				<br><br>Note: Clicking the different color swatches swaps out the color of the JAMBOX in the hero (hand) image.
			</div>
			
			<div class="span7 offset1">
				<img class="lazy" src="img/white.gif" data-original="img/work/jamboxlanding/jamboxlanding2.png">
			</div>
			
		</div>
	</div>
</section>

<div class="dot-separator"></div>

<!-- Project 4
================================================== -->
<a class="anchor" id="project4anchor">&nbsp;</a>
<section id="project4">
	<div class="scrollblock">
		<div class="row">
				<div class="span4">
					<h2><span style="background-color: #3CB9C5;">Tavern Books</span></h2>
					<br>I'm the Director of Design for Tavern Books, a nonprofit independent publisher of poetry.  In addition to reviving books that have fallen out of print, Tavern Books seeks to build a catalog of poetry in translation from the finest writers of our modern era.
					<br><br><h4>ROLES:</h4>
					Illustration
					<br>Branding
					<br>Visual design
					<br>Interaction Design
				</div>
				<div class="span7 offset1">
					<img class="lazy" src="img/white.gif" data-original="img/work/tavernbooks/tavernbooks3.png">
				</div>
		</div>
	</div>
	
	<div class="scrollblock">
		<div class="row">
			<div class="span4">
				<h3 class="rowtop-pad">Pressmark</h3>
				I designed the Crow & Key pressmark used on <a href="http://www.tavernbooks.com">Tavern Book</a>'s website, letterheads, and books. It fits the tone of the books, which are often "lyrically intense, sometimes surreal, and often driven by serious matters."
			</div>
			
			<div class="span6 offset2">
				<img class="lazy" src="img/white.gif" data-original="img/work/tavernbooks/tavernbooks4.jpg">
			</div>
			
		</div>
	</div>
	
	
	<div class="scrollblock">
		<div class="row">
			<div class="span4">
					<h3>Illustrations</h3>
					I create illustrations for the books (hand-stitched pamphlets) and broadsides (made from 80# cardstock).
					<br><br><br>A chrysanthemum for "BUSON: HAIKU," by Yosa Buson (translated by Franz Wright).
			</div>
			<div class="span7 offset1">
				<img class="lazy" src="img/white.gif" data-original="img/chrysanthemum.png">
			</div>
		</div>
	</div>
	
	<div class="scrollblock-long">
		<div class="row">
			<div class="span4">
					An olive tree for "Night of Shooting Stars," by Leonardo Sinisgalli.<br>
			</div>
		</div>
		<div class="row">
			<div class="span9 offset3">
				<img class="lazy" src="img/white.gif" data-original="img/work/tavernbooks/tavernbooks7.png">
			</div>
		</div>
	</div>
	
	<div class="scrollblock">
		<div class="row">
			<div class="span4">
					A jellyfish for "Notes on Sea & Shore," by Greta Wrolstad.<br><br>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<img class="lazy" src="img/white.gif" data-original="img/jellyfish.png">
			</div>
		</div>
	</div>
	
	<div class="scrollblock">
		<div class="row">
			<div class="span4">
					A bony seahorse for "Ocean," by Joseph Millar.
			</div>
			<div class="span7 offset1">
				<img class="lazy" src="img/white.gif" data-original="img/work/tavernbooks/tavernbooks5.png">
			</div>
		</div>
	</div>
	
	<div class="scrollblock">
		<div class="row">
			<div class="span4">
				<h3 class="rowtop-pad">Website</h3>
				I designed and built the Tavern Books website (with <a href="http://www.staceyapp.com/" target="new">staceyapp</a>). It primarily serves as a catalog for Tavern Books' books of poetry and broadsides.
			</div>
			<div class="span8">
				<img class="lazy" src="img/white.gif" data-original="img/work/tavernbooks/tavernbookswebsite1.png">
			</div>
		</div>
	</div>
	
	<div class="scrollblock">
		<div class="row">
			<div class="span8 offset4">
				<img class="lazy" src="img/white.gif" data-original="img/work/tavernbooks/tavernbookswebsite3.png">
			</div>
		</div>
	</div>
	
</section>

<div class="dot-separator"></div>

<!-- End
================================================== -->
<div class="scrollblock">
	<div class="row">
		<div class="span12"><br><br><br><br>
			<h3>Thanks for checking out my work!</h3>
			<br><br>You can view more stuff in the <a href="http://www.ceciliayang.com">archives <i class="icon-external-link"></i></a>.
		</div>
	</div>
</div>

</div>

<script>
	// fix sub nav on scroll
	// this part initializes variables to use below, using jquery's offset()
	// function to the pixel height at which we should fix subnav
	// http://api.jquery.com/offset/

	var $win = $(window)
	  , $nav = $('.subnav')
	  , navTop = $('.subnav').length && $('.subnav').offset().top - $(".navbar-fixed-top").height()
	  , isFixed = 0

	// call processScroll, below, once when you load the page
	processScroll()
	// and every time the user scrolls
	$win.on('scroll', processScroll)

	// 
	function processScroll() {
	  var i, scrollTop = $win.scrollTop()
	  if (scrollTop >= navTop && !isFixed) {
	    isFixed = 1
	    $nav.addClass('subnav-fixed')
	  } else if (scrollTop <= navTop && isFixed) {
	    isFixed = 0
	    $nav.removeClass('subnav-fixed')
	  }
	}
	
	$('#projectnav').scrollspy();
	
</script>

  <script src="js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
//$(window).bind("unload", function() {});

/*
window.onpopstate = function() { 
    window.onpopstate = function() { 
        $("img").trigger("appear");
    };
};
*/
      $(function() {
//	alert("bar");
          $("img").lazyload({
              effect : "fadeIn"
              /*
              appear : function(elements_left, settings) {
                  console.log("appear");
                  console.log(elements_left);
                  //console.log(this, elements_left, settings);
              },
              load : function(elements_left, settings) {
                  console.log("load");
                  console.log(elements_left);
                  //console.log(this, elements_left, settings);
              }
              */
          });


      });
  </script>