/*Introduction on Homepage*/
.intro-block-home p {
/*  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
  height: 700px;
  line-height: 700px; /*<-- this is what you must define*/
  vertical-align: middle;
  font-size: 200%;
}

/*Introduction on Design Page*/
.intro-block {
  height: 600px;
  padding: 100px 0px;
  font-family: 'AdventorBold';
  font-size: 5rem;
  text-align: center;
/*  background-color: #F5CCC7;
*/}

/*Project Pages*/
.intro-image {
  background-size: cover;
  height: 500px;
  background-position: center; 
  border-bottom: 1px solid #efefef;
}

.text-block {
  padding: 60px 0px 40px 0px;
/*  border-top: 1px solid #efefef;*/
}


.story-block {
  padding: 250px 0px 200px 0px;
  border-top: 1px solid #efefef;
  min-height: 500px;
  vertical-align: middle;
  text-align: center;
  font-size: ;
}

.nopadding {
  padding:0px;
}
/*
.intro {
    border-bottom: 1px solid #efefef;
    padding: 30px 0px;
}
*/
.divider {
  display: block;
  width: 7%;
  margin: 20px auto 20px auto;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.15);
}

/*If I don't want any border around my text block*/
.noborder {
  border: none;
}


/*Text Styles within my text blocks*/
.text-block h2 {
  line-height: 2.7rem;
}

.text-block h4 {
  padding-bottom: 10px;
}

.text-block h5 {
  padding-top: 10px;
  padding-bottom: 10px;
}



/*Project Pages*/
.image-block {
  padding: 60px 0px;
  background-size: cover;
  background-position: center; 
/*  border-top: 1px solid #efefef;
*/}

.image-block img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-block h2 {
  text-align: center;
}

.greybg {
  background-color: #fafafa;
}

.orangebg {
  background-color: #EF8763;
}


.pinkbg{
  background-color: #EBA6A5;
  color: #fff;
}

.peachbg{
  background-color: #FADDCD;
  color: #fff;
}

.yellowbg {
  background-color: #FACE5D;
}

.lightyellowbg {
  background-color: #FFFCC9;
}

.greenbg {
  background-color: #5BB887;
}

.tealbg {
  background-color: #AADACF;
  color: #fff;
}

.mintbg {
  background-color: #C9E4C7;
  color: #fff;
}

.bluebg {
  background-color: #ABD3E3;
  color: #fff;
}

.brightbluebg {
  background-color: #C7EAFD;
}

.violetgreybg {
  background-color: #DFE2E7;
}


.block {
	padding-top: 140px;
	height: 500px;
	background-color: transparent;
	border-top: 1px solid #efefef;
}

/*Images on Design Homepage*/

#oklredesign{
  background-image: url(/img/background/okl-redesign.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  width: 100%;
}

#oklipad{
  background-image: url(/img/background/okl-ipad.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-color: #fbfbfb;
  background-size: cover;
}

#oklfind{
  background-image: url(/img/background/okl-find.png);
  background-repeat: repeat-x repeat-y;
  background-position: center; 
  background-color: #fbfbfb;
}


#jawbonemobile {
/*  background-image: url(/img/background/jawbone-mobile.jpg);
*/  background-repeat: no-repeat;
  background-position: top right; 
  background-image: url(/img/background/jawbone-mobile-isometric-transparent.png);
  background-size: cover;
}

#jawboneipad {
  background-image: url(/img/background/jawbone-ipad.jpg);
  background-repeat: no-repeat;
  background-position: right; 
  background-color: #fbfbfb;
}

#jamboxbuttons {
  background-image: url(/img/background/jambox-buttons.jpg);
  background-repeat: no-repeat;
  background-position: right; 
  background-size: cover;
}


/*Hero Images on Project Pages*/


#oklipadproject {
    background-image: url(/img/background/okl-ipad-project.png);
}

#oklsearchproject {
    background-image: url(/img/background/okl-directed-shopping.png);

}

#jawbonemobileproject {
    background-image: url(/img/background/jawbone-mobile-isometric.png);
    background-position: top; 
}


#jamboxbuttonsproject {
    background-image: url(/img/background/jambox-buttons-project.jpg);
}




/*About Me Pictures*/

#drawingatthree {
  background-image: url(/img/about/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#canvas {
  background-image: url(/img/about/ballet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

#prl {
  background-image: url(/img/about/prl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

#tools {
  background-image: url(/img/about/tools.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
/*  height: 600px;
*/}


#illustrations {
  background-image: url(/img/about/illustrations.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
/*  height: 600px;
*/}


/*Top Navigation*/

.top-bar {
  background-color: #FFFFFF;
  color: #000000; 
  border: 1px solid #efefef;
}

.top-bar .toggle-topbar.menu-icon a {
  color: #000000;
  font-family: 'AdventorBold';
  font-weight: normal;
}

.top-bar-section ul li {
  background: transparent;
  color: #000000; 
}

.top-bar-section ul li > a {
  font-family: 'AdventorBold';
  text-transform: uppercase;
}

/*.top-bar-section ul li > a.button {
  background-color: transparent;
  color: #000000; 
  border-color: #007095;
}*/

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: transparent;
  color: #000000; 
}

.top-bar .name h1 a {
  color: #000000;
}




/*Buttons, Links & Inputs*/

a {
/*  color: #008cba;*/
  text-decoration: underline;
  color: inherit;
  line-height: inherit; }
  a:hover, a:focus {
    color: #0078a0; }

/*.top-bar-section a li {
  text-decoration: none:
}*/


button, .button {
  border: 3px solid #000000;
  font-family: "AdventorBold";
  font-size: 0.9rem;
  text-transform: uppercase;
  background: transparent;
  color: #000000;
  padding-top: 0.7rem;
  padding-right: 2rem;
  padding-bottom: 0.7rem;
  padding-left: 2rem;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #000; }




/*Text Styles*/


body {
  font-family: 'AGaramondPro-Regular', Georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3 {
  font-family: 'AGaramondPro-Regular', Georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h4, h5, h6 {
  font-family: 'AdventorBold', Helvetica, sans-serif;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {font-size: 1.4375rem; }

h6 {font-size: 0.85rem;}

.hsmall {color: #B1B1B1;}

.white {
  color: #fff;
}

.underline {
  border-bottom: 4px solid #000;
  padding-bottom: .15em;
}

.underlinewhite {
  border-bottom: 4px solid #fff;
  padding-bottom: .15em;
}


p {
  font-size: 1.3rem;
  line-height: 1.5;
}

p.lead {
  font-size: 1.7875rem;
  line-height: 1.2;
}

p.biglead {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

p.biggerlead {
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

p.caption {
  font-size: 1.2rem;
  text-align: center;
  color: #666;
  padding-top: 30px;
  font-family: 'AGaramondPro-Italic';
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

p.caption2 {
  font-size: 1.4rem;
  text-align: center;
/*  color: #fff;*/
/*  padding-top: 480px;
*//*  font-family: 'AGaramondPro-Italic';
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;*/
  position: relative;
  top: 475px;
}


ul, ol {
  font-size: 1.3rem;
}

em,
i {
  font-family: 'AGaramondPro-Italic';
  font-style: normal;
  line-height: inherit; }


.hr {
  width: 30px;
  border: 1px solid #ccc;
  margin: 25px auto;
}

strong,
b {
  font-weight: normal;
  font-family: 'AGaramondPro-Semibold'; }


blockquote {
  font-size: 1.3rem;
  padding-top: 0rem;
  border-left: 3px solid #FADDCD;
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
  color: #9c9c9c;
}

/*Footer*/


.footer {
  padding: 60px 0px;
  margin: 0px;
  background-color: #fafafa;
  text-align: center;
}

