@blue: #59B5E2;
@orange: #F6BA48;
@lightgrey: #F1F1F1;
@green: #A8C41A;
@darkgrey: #333333;
@lightbeige: #FCFAF2;
@teal: #3CB9C5;

@block-height: 520px;


.scrollblock {
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100%;
  height: @block-height;

  &#page1 {
    background: white;
 	background: url("/img/bg-homepage-gradient.jpg") repeat-x scroll left top #F8F8F8;
    border-bottom: 1px solid #EEEEEE;
  }

  &#page2 {
    background: @lightgrey;
  }

  &#page3 {
    background: @orange;
  }

  &#page4 {
    background: @lightgrey;
  }

  &#page5 {
    background: @lightbeige;
  }

  &#page6 {
    background: @blue;
  }

  &#page7 {
    background: @green;
  }

	
}


.dot-separator {
    background: url("/img/pullbg.gif") repeat-x scroll center bottom transparent;
    margin-bottom: 25px;
    padding-top: 30px;
}