body {
  margin: 0;
  font-family: 'RobotoLight','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  background-color: #FFFFFF;
}
a {
  color: #3cb9c5;
  text-decoration: none;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
a:hover {
  text-decoration: underline;
}

.popup {
  text-decoration: none; 
  border-bottom:1px dashed;
}

.content {
    padding-bottom: 0px;
    padding-top: 140px;
}

.content a:hover {
  background-color: #7bf8d6;
  border-radius: 0 0 0 0;
  color: #148495;
  text-decoration: none;
}

p {
  margin: 0 0 9px;
  font-family: "RobotoThin", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}
p small {
  font-size: 11px;
}

.date {
  font-family: "RobotoRegular", Helvetica, Arial, sans-serif;
  color: #333333;
}

.lead {
  margin-bottom: 18px;
  font-size: 28px;
  line-height: 34px;
  color: #333333;

}

.quote {
    font: 100 56px/60px "lato";
    letter-spacing: -2px;
    margin: 0 10 10px;
    text-indent: -6px;
	color: #333333;
}

.quoter {
    color: #999999;
    font: 20px/20px 'RobotoRegular';
    text-transform: uppercase;
    text-indent: -10px;
    text-shadow: 0 1px #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizelegibility;
}

h1 {
	font: 100 72px/72px "lato";
    letter-spacing: -2px;
    text-transform: uppercase;
}

h2 {
	font: 50px/65px 'RobotoThin';
    text-transform: none;
	color: #FFFFFF;
}

h3 {
	font: 40px/50px 'RobotoThin';
    text-transform: none;
}

h4 {
  	font: 20px/40px "RobotoRegular";
    text-transform: uppercase;
}

h5 {
	font: 18px/30px "RobotoRegular";
	text-transform: uppercase;
	color: #999;
}

h6 {
	font: 16px/24px "RobotoRegular";
	text-transform: uppercase;
	color: #999;
}

input {
	height: 40px;
}

::selection {
	background: #7bf8d6; /* Safari */
	}
::-moz-selection {
	background: #7bf8d6; /* Firefox */
}

/* ANCHOR TAGS */

a.anchor {
	position:relative; 
	top:-150px;
}


/* BRAND */

.navbar .brand {
  float: left;
  display: block;
  padding: 2px 70px 0px;
  width: 55px;
  height: 55px;
  background-image: url("../img/logo-02.png");
  background-repeat:no-repeat;
}

.navbar .brand:hover {
  background-position: 0 -56;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-ms-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}

.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #999999;
  text-shadow: 0 1px #FFFFFF;

}
.navbar .navbar-text a:hover {
  color: #ffffff;
  background-color: transparent;
}


/* SUB-NAVIGATION BARS */


.jumbotron {
    position: relative;
}

.subhead {
    margin-bottom: 9px;
    padding-bottom: 0;

}
.subhead h1 {
    font-size: 54px;
}
.subnav {
    background-color: rgba(255, 255, 255, 0.97);

	background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 53%, rgba(234,234,234,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(53%,rgba(255,255,255,0.5)), color-stop(100%,rgba(234,234,234,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 53%,rgba(234,234,234,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 53%,rgba(234,234,234,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 53%,rgba(234,234,234,0.5) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 53%,rgba(234,234,234,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80eaeaea',GradientType=0 ); /* IE6-9 */

    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    border-left: 0px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}

.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
    background-color: #FFFFFF;
    border-left: 0 none;
    border-right-color: #DDDDDD;
    color: #3cb9c5;
    padding-left: 13px;
}

.subnav-fixed .nav > .active > a, .subnav .nav > .active > a:hover {
    //background-color: #E9E9E9;
	background-color: #3cb9c5;
    border-left: 0 none;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    //color: #777777;
	color: #FFFFFF;
    padding-left: 13px;
}
.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret {
    border-top-color: #777777;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-left: 0 none;
    border-radius: 4px 0 0 4px;
    padding-left: -2px;
}
.subnav .nav > li:last-child > a {
    border-right: 0 none;
}
.subnav .dropdown-menu {
    border-radius: 0 0 4px 4px;
}
.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 0px 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
   	padding-top: 0px;
	position: fixed;
    top: 88px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */

}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
    width: 938px;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-radius: 0 0 0 0;
}


/* CONTENT */


.rowtop-pad {
  padding-top: 90px;
}



/* BREAKDOWN */

.bar {
	width: 100px;
	margin: 0 0px 10px 0;
	float: left;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#7bf8d6 20%), to(#3cb9c5));
	background-image: -webkit-linear-gradient(top, #7bf8d6 20%, #3cb9c5);
	background-image: -moz-linear-gradient(top, #7bf8d6 20%, #3cb9c5);
	background-image: -o-linear-gradient(top, #7bf8d6 20%, #3cb9c5);
	background-image: -ms-linear-gradient(top, #7bf8d6 20%, #3cb9c5);
	background-image: linear-gradient(to bottom, #7bf8d6 20%, #3cb9c5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.73);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.73);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.73);
}
	
	#bar1 {height: 140px;}
	
	#bar2 {height: 110px; margin-top: 30px;}
	
	#bar3 {height: 85px; margin-top: 55px;}
	
	#bar4 {height: 60px; margin-top: 80px;}
	
	#bar5 {height: 50px; margin-top: 90px;}
	
	#bar6 {height: 140px;}
	
	#bar7 {height: 120px; margin-top: 20px;}
	
	#bar8 {height: 85px; margin-top: 55px;}
	
	#bar9 {height: 60px; margin-top: 80px;}
	
	#bar10 {height: 50px; margin-top: 90px;}
	
	#bar11 {height: 25px; margin-top: 115px;}
	

ul.breakdown {
  	color: #666666;
}

ul.breakdown li {
	width: 100px;
	display: inline;
	float: left;
	list-style: none;
	margin: 20px 25px 0 0;
}





/* FOOTER */

.footer {
	
	    background-color: #FFFFFF;
	    border-top: 1px solid #EAEAEA;
	    padding-bottom: 20px;
	    padding-top: 50px;
		text-align: center;
		font-size: 16px;
}

.footer .social {
	
	display:block;

}

.footer .tumblr {
  padding: 20px 40px;
  background-image: url("../img/tumblr.png");
  background-repeat:no-repeat;

}

.footer .tumblr:hover {
  background-image: url("../img/tumblrhover.png");
  background-repeat:no-repeat;
}

.footer .twitter {
  padding: 20px 40px;
  background-image: url("../img/twitter.png");
  background-repeat:no-repeat;
}

.footer .twitter:hover {
  background-image: url("../img/twitterhover.png");
  background-repeat:no-repeat;
}

.footer .rss {
  padding: 20px 40px;
  background-image: url("../img/rss.png");
  background-repeat:no-repeat;
}

.footer .rss:hover {
  background-image: url("../img/rsshover.png");
  background-repeat:no-repeat;
}

.footer .contact {
  padding: 20px 40px;
  background-image: url("../img/contact.png");
  background-repeat:no-repeat;
}

.footer .contact:hover {
  background-image: url("../img/contacthover.png");
  background-repeat:no-repeat;
}
