


@font-face {
  font-family: 'AdventorRegular';
  src: url('adventor-regular.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


@font-face {
  font-family: 'AdventorBold';
  src: url('adventor-bold.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url('AGaramondPro-Regular.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


@font-face {
  font-family: 'AGaramondPro-Italic';
  src: url('AGaramondPro-Italic.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


@font-face {
  font-family: 'AGaramondPro-Semibold';
  src: url('AGaramondPro-Semibold.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}



